body {
    background-color: #efa9fb;
    color: white
    }
    body{
        font-family:’Poppins’,sans-serif;
        }
    header {
        background-color: #efa9fb;
        color: white
        }
.cabecalho-imagem{
    width: 20%;
    }
.cabecalho {
    background-color: white;
    color: purple;
    display:flex;
    }
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
            justify-content: space-around;
            padding: 24PX 0;
            }
            .estudante-imagem{
                width: 120px;
                }
                .estudante-icone{
                    width:24px;
                    }
                
